#navbarDesktop {
    width: 100%;
    max-width: 100vw;
    height: 94px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 180;
}

.linksEny {
    /* width: 70%; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linksEny li {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.navButton {
    width: 152px;
    height: 56px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    border: solid 2px #000;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    /* .linksEny {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        width: 100%;
        height: 100vh;
        z-index: inherit;
        display: flex;
        flex-direction: column;
        visibility: hidden;
    }

    .mobile-menu {
        display: block;

    } */
}